@import 'main.css';
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Cabin:400,500,600);

html {
	background: #FDFDFD;
	-ms-overflow-y: scroll;
	    overflow-y: scroll;
}

body {
	background: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lobster', cursive;
	
}

p, a {
	font-family: 'Cabin', sans-serif;
}

.logo {
	width: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.nav-custom-dynamic {
	/*background: rgba(0,0,0,0.3);*/
	padding-left: 30px;
	padding-right: 30px;
	color: #FDFDFD;
	background: none;
	
}

.navbar-default .navbar-nav>li>a {
	line-height: 35px;
	font-size: 1.1em;
	color: #FDFDFD;
	margin-left: 5px;
	margin-right: 5px;
	/*letter-spacing: 1px;*/
	font-weight: 600;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	
	color: #FDFDFD;
	
}

/*.navbar-default .navbar-nav>li>a:active {
	font-size: 1.25em;
}*/


.navbar-default{
	    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.22);*/
	    -webkit-box-shadow: none;
	            box-shadow: none;
	    border: none;
}


.jumbotron h1 {
    letter-spacing: 3px;
	font-size: 5em;
	margin-bottom: 65px;
	margin-top: 0;
	text-shadow: 0 -1.5px 0 rgba(255,255,255,.5), 0 1.5px 0 rgba(0,0,0,.8);
	
	  
}

.jumbotron h2 {
	font-family: 'Cabin';
	font-size: 3.1em;
	margin-top: 0;
	margin-bottom: 55px;
	letter-spacing: 3px;
	color: rgba(255, 255, 255, 0.85);
	text-shadow: 0 -1.25px 0 rgba(255,255,255,.5), 0 1.25px 0 rgba(0,0,0,.8);
	
}


.jumbotron h3 {
	font-family: 'Cabin';
	font-size: 2.6em;
	margin-bottom: 55px;
	margin-top: 0;
	letter-spacing: 3px;
	color: rgba(255, 255, 255, 0.85);
	text-shadow: 0 -1.25px 0 rgba(255,255,255,.5), 0 1.25px 0 rgba(0,0,0,.8);
	
}

.slick-slide:focus { 
	outline: none; 
}

.overlay {
	position: absolute;
	background: linear-gradient(253deg, rgba(27,69,199,.8), rgba(125,185,232,.9), rgba(27,69,199,.8));
    background-size: 300% 300%;
    -webkit-animation: Background 20s ease infinite;
    -moz-animation: Background 20s ease infinite;
    animation: Background 20s ease infinite;
	/*background: rgb(27,69,199);
    background: -moz-linear-gradient(left, rgba(27,69,199,.9) 1%, rgba(125,185,232,.7) 100%); 
    background: -webkit-linear-gradient(left, rgba(27,69,199,.9) 1%,rgba(125,185,232,.7) 100%); 
    background: linear-gradient(left, rgba(27,69,199,.9) 1%,rgba(125,185,232,.7) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b45c7', endColorstr='#7db9e8',GradientType=1 );*/
	height: 100%;
	width: 100%;
	z-index: 0;
	top: 0;
	bottom: 0;
}

  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

@media (max-width: 768px) {
  .jumbotron h1  {
    font-size: 3.2em;
    margin-bottom: 30px;
  }
  .jumbotron h2  {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  .jumbotron h3  {
    font-size: 1em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px)  {
  .jumbotron h1  {
    font-size: 4em;
    margin-bottom: 40px;
    
  }
  .jumbotron h2  {
    font-size: 2.3em;
    margin-bottom: 40px;
    
  }
  .jumbotron h3  {
    font-size: 1.8em;
    margin-bottom: 40px;
    
  }
}
.first-slide {
	background: url(../img/SmilingWoman.jpg);
	height: calc(100vh);
	background-position: center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color: #fdfdfd;
	z-index -10;
}

.second-slide {
	background: white;
	height: 100vh;
	color: #fdfdfd;
	z-index -10;
}

.fade-custom {
	
}


/*.slick-prev:after {
  font-family: FontAwesome;
   content: "\f053";
  color: #FDFDFD;
  font-size: 50px;
  
}

.slick-next:before {
  font-family: FontAwesome;
   content: "\f054";
  color: #FDFDFD;
  font-size: 50px;
  
}

.slick-prev {
  z-index: 1;
  left: 40px;
  
}

.slick-next {
  z-index: 1;
  right: 40px;
  
}
*/


.vcenter {
	position: relative;
    top: calc(50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



